<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!-- Libs CSS -->


<link href="/static/assets2/libs/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link href="/static/assets2/libs/dropzone/dist/dropzone.css"  rel="stylesheet">
<link href="/static/assets2/libs/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" />
<link href="/static/assets2/libs/prismjs/themes/prism-okaidia.css" rel="stylesheet">








<!-- Theme CSS -->
<link rel="stylesheet" href="/static/assets2/css/theme.min.css">
  <title>Sign In</title>
</head>

<body class="bg-light">
  <!-- container -->
  <div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0
        min-vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xxl-4 py-8 py-xl-0">
        <!-- Card -->
        <div class="card smooth-shadow-md">
          <h5 class="card-header text-center fw-bold bg-gray">
            Admin Interface
          </h5>
          <!-- Card body -->
          <div class="card-body p-6">
            <!-- Form -->
            <form method="POST" action="/admin/login">
              <!-- Username -->
              <div class="mb-3">
                <label for="text" class="form-label">Username</label>
                <input type="text" id="email" class="form-control" name="username" placeholder="username here" required>
              </div>
              <!-- Password -->
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="**************" required>
              </div>
              <div>
                <!-- Button -->
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </div>


            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Scripts -->
  <!-- Libs JS -->
<script src="/static/assets2/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/assets2/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets2/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/assets2/libs/feather-icons/dist/feather.min.js"></script>
<script src="/static/assets2/libs/prismjs/prism.js"></script>
<script src="/static/assets2/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="/static/assets2/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="/static/assets2/libs/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
<script src="/static/assets2/libs/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>




<!-- Theme JS -->
<script src="/static/assets2/js/theme.min.js"></script>
</body>

</html>